/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 may. 2023, 18:56:15
    Author     : UX431
*/

#calendarioBoton .date-picker {
    -fx-skin: "com.sun.javafx.scene.control.skin.DatePickerSkin";
    -fx-background-radius: 50px;
    -fx-padding: 5px;
}

#calendarioBoton .date-picker .arrow-button {
    -fx-shape: "M 0 0 L 7 7 L 0 14 Z";
}

#calendarioBoton .date-picker .arrow-button:pressed {
    -fx-background-color: #CCCCCC;
}