#boton_blanco_a_sombra{
    -fx-background-color: #FFFFFF; 
    -fx-border-color: #000000;
}
#boton_verde_a_sombra{
    -fx-border-color: #000000;
}
        
#boton_blanco_a_sombra:pressed{
    -fx-background-color: #CCCCCC;
}
#boton_verde_a_sombra:pressed{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat,  #84B118 0%, #15622E 50%)
;
}

