

#boton_blanco_a_sombra{
    -fx-background-color: #ffffff;
}
#boton_verde_a_sombra{
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 200%, repeat,  #84B118 0%, #15622E 50%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
        
#boton_blanco_a_sombra:hover{
    -fx-background-color: #e6e6e6;
}
#boton_verde_a_sombra:hover{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat,  #779f16 0%, #135829 50%);
;
}

#celda {
    -fx-border-color: black;  
}

#boton_naranja_verde_a_sombra{
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 200%, repeat,  #F68A1F 0%, #15622E 50%);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
#boton_naranja_verde_a_sombra:hover{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat,  #F68A1F 0%, #135829 50%);
;
}

#selected_reserva{
    -fx-background-color: #ffff80;  
}

#selected_reserva:pressed {
    -fx-background-color: #e6e673;
    -fx-border-color: black;
}
#selected_reserva:released {
   -fx-background-color: #ffff80;
   -fx-border-color: black;
}
