/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 may. 2023, 23:41:55
    Author     : UX431 
    rojo
    verde   :contains("Reservado")
    amarillo
*/
.list-cell:even {
    -fx-background-color: #ffc8c8;
}

.list-cell:odd {
    -fx-background-color: #80ff80;
}
/*
.list-cell:only-child {
    -fx-background-color: #ffff80;
}*/

